.whatsUp-body {
  position: relative;
  background-color: white;
  box-shadow: 0 6px 18px rgba(var(--shadow-rgb), .05);
  margin: 0 auto;
z-index: 1;
top: 19px;
width: calc(100% - 38px);
max-width: 1600px;
height: calc(100% - 38px);

}

.drawer {
  height: 100%;
  width: 30%;
  position: absolute;
  left: 0px;
  top:0;
  transition: all 100ms ease-in-out;
  z-index: 500;
  transform-origin: left top;
  transform:scaleX(0)
}

.drawerRight-body{
  height: 100%;
  position: relative;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition:all 100ms ease-in-out;
  z-index: 200;
  min-width: 0;

}