.mainHeader{
    border-right: 1px solid var(--border-stronger);
    background-color: var(--panel-header-background);
    padding: 9px 16px;
}

.mainHeader-left{
    flex-grow: 1;
}

.mainHeader-left span{
    padding: 10px;
    width: 50px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex: 1;
    font-size: 16px;

}

.mainHeader-right{
   align-items: center;
}

.mainHeader-right span{
    margin-right: 10px;
    padding: 8px;
    
    }
    
    
    .conversation-menu{
        position: absolute;
        z-index: 555;
        right: 19px;
        top: 51px;
        width: 250px;
        background-color: var(--dropdown-background);
        border-radius: 3px;
        box-shadow: 0 2px 5px 0 rgba(var(--shadow-rgb),.26),0 2px 10px 0 rgba(var(--shadow-rgb),.16);    transition: 0.2s;
        transform-origin: right top;
        transform: scale(0);
    }